{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="h3 mb-3 font-weight-normal">Connexion</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <label for="inputUsername" class="sr-only">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   placeholder="Nom d'utilisateur" required autofocus><br>
            <label for="inputPassword" class="sr-only">Mot de passe </label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
                   required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}" >
            <br>
            <button class="btn btn-lg btn-success" type="submit">
                Connexion
            </button>
        </form>
    </div>
{% endblock %}