{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <h2 class="major">Inscription</h2>
            <br>
            {{ form_start(form) }}
            {{ form_row(form.username, { 'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.password, { 'attr': {'class': 'form-control'}}) }}
            <br>
            <button type="submit" class="btn btn-success">Envoyer</button>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}