{% extends 'base.html.twig' %}

{% block title %}Ajout fichier{% endblock %}

{% block body %}

    <div class="container">
        <h2> Cela vous convient-il ? </h2>
        <div class="container">
            <section>
                <h1 class="major">Ajout d’un fichier xlsx</h1>
                <br>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <br>
                <button type="submit" class="btn btn-success">Envoyer</button>
                {{ form_end(form) }}
            </section>
        </div>
    </div>

{% endblock %}
