{% extends 'base.html.twig' %}

{% block title %} Golf{% endblock %}

{% block body %}

    <div class="container">
        <h2> Bienvenue !</h2>
        <br>
        <a class="btn btn-success" href="{{ path('ajout') }}" role="button">
            <h6> Demande de cadence de jeu </h6>
        </a>
    </div>
{% endblock %}
