{% extends 'base.html.twig' %}

{% block title %} Golf {% endblock %}

{% block body %}

    <div class="container">
        <h2> Bienvenue !</h2>
        <br>
        <a class="btn btn-success" href="{{ path('app_login') }} " role="button">
            <h6> Connexion </h6>
        </a>
        <a href="#" class="btn btn-success disabled" role="button" aria-disabled="true">
            <h6>Remonter écarts Partie/Trou </h6>
        </a>
    </div>
{% endblock %}
