{% extends 'base.html.twig' %}

{% block title %}Gestion des droits{% endblock %}

{% block body %}
    <div class="container">
        <h2>Gestion des droits</h2>
<br>
        <h6><a href="{{ path('user_registration') }}" ><i class="fa fa-user" aria-hidden="true"></i> Ajout d'un arbitre </a></h6>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}
                <tr>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        <button class="btn btn-success">
                            <a class="fa fa-trash text-white" href="{{ path('delete', {'id':user.id}) }}" aria-hidden="true"></a>
                        </button>
                    </td>
                </tr>

            {% endfor %}


            </tbody>
        </table>

    </div>
{% endblock %}
