<style>
    @page {
        margin: 50px 25px 25px 25px;
        font-family: Arial, sans-serif;
    }

    body {
        margin: 0 0 1em 0;
    }

    table, th, tr, td {
        border: 1px solid #000000;
        border-collapse: collapse;
        font-size: 9px;
        line-height: 10px;
    }

    table {
        width: 100%;
    }

    thead {
        background-color: yellow;
    }

    .index {
        text-align: center;
        width: 17px;
    }

    .indexC {
        text-align: center;
    }

    .dep {
        text-align: center;
        font-weight: bold;
    }

    .trou {
        text-align: center;
        width: 40px;
    }

    .trouC {
        vertical-align: top;
        text-align: right;
    }

    .joueur {
        text-align: center;
    }
</style>


{% set starter = minutes %}


<br>
<table>
    <thead>
    <tr>
        <th class="index">#</th>
        <th class="trou">Dép.</th>
        <th class="joueur"> Joueurs</th>
        <th class="trou"> 1</th>
        <th class="trou"> 2</th>
        <th class="trou"> 3</th>
        <th class="trou"> 4</th>
        <th class="trou"> 5</th>
        <th class="trou"> 6</th>
        <th class="trou"> 7</th>
        <th class="trou"> 8</th>
        <th class="trou"> 9</th>
        <th class="trou"> 10</th>
        <th class="trou"> 11</th>
        <th class="trou"> 12</th>
        <th class="trou"> 13</th>
        <th class="trou"> 14</th>
        <th class="trou"> 15</th>
        <th class="trou"> 16</th>
        <th class="trou"> 17</th>
        <th class="trou"> 18</th>
        <th class="index">#</th>
    </tr>
    </thead>
    <tbody>

    {% for info in tabJoueurs %}
        {% set tempsTrou = starter %}
        <tr>

            <td class="indexC"> {{ loop.index }} </td>
            <td class="dep">
                {% set heures = starter // 60 %}
                {% set minutes = (starter/ 60 - starter // 60) * 60 %}
                {{ heures }}:
                {% if minutes|length == 1 %}
                    0{{ minutes }}
                {% else %}
                    {{ minutes }}
                {% endif %}

            </td>
            <td>
                {% for joueur in info %}
                    {{ joueur }} <br>
                {% endfor %}
            </td>

            {% for i in golfs.Trous %}
                <td class="trouC">
                    {% set tempsTrou = tempsTrou + i.Pars.Temps + i.TempsMarche %}
                    {% set heures = tempsTrou // 60 %}
                    {% set minutes = (tempsTrou/ 60 - tempsTrou // 60) * 60 %}
                    {{ heures }}:
                    {% if minutes|length == 1 %}
                        0{{ minutes |round(0, 'floor') }}
                    {% else %}
                        {{ minutes |round(0, 'floor') }}
                    {% endif %}
                </td>

            {% endfor %}


            <td class="indexC"> {{ loop.index }} </td>
        </tr>
        {% set starter = starter + 11 %}

    {% endfor %}
    </tbody>
</table>