{% extends 'base.html.twig' %}

{% block title %}Cadence de jeu{% endblock %}

{% block body %}
    <div class="container">
        <h2>Téléchargement du PDF</h2>

        <br>
        <br>
        <br>
        <button class="btn btn-lg btn-success"> <a href="{{ path('to_pdf', {'golf_id':golf_id}) }}" > Télécharger PDF </a> </button>
    </div>
{% endblock %}
