.container {
    text-align: center;
    padding-top: 2em;
}

.background {
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body > .ui.menu {
    background-color: rgba(255, 255, 255, 0);
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

form {
    /*background-color: #28a745;*/
    margin: 0 auto;
    width: 400px;
    padding: 1em;
}

a {
    color: black;
}

table, th, tr, td {
    border: 2px solid #000000;
    text-align: center;
    border-collapse: collapse;
    line-height: 13px;
}

.formTrou {
    position: relative;
    width: 740px;
    height: 498px;
    margin: 0 auto;
}