<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Golf{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <link rel="icon" type="image/jpg" href="{{ asset('images/icon.jpg') }}"/>
</head>

<body class="background">
<nav class="navbar navbar-expand-sm bg-transparent navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('index') }}" id="home"><h4> Golf</h4></a>
        </li>
        <li class="nav-item">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('ajout') }}" class="nav-link"><h4>Demande de cadence</h4></a>
            {% endif %}
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="nav-link"><h4>Se déconnecter</h4></a>
            {% endif %}
        </li>
    </ul>
</nav>



{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}


</body>

</html>
