{% extends 'base.html.twig' %}

{% block title %}Cadence de jeu{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <h1 class="major">Ajout d’un fichier xlsx</h1>
            <br>
            {{ form_start(form) }}
            {{ form_widget(form, { 'attr': {'class': 'form-control-file'} }) }}
            <br>
            <button type="submit" class="btn btn-success">Envoyer</button>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
