{% extends 'base.html.twig' %}

{% block title %}Cadence de jeu{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="major">Validation des informations </h1>
        <br>
        {{ form_start(form) }}
        {{ form_row(form.competitions.nom, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.competitions.golfs.lieu, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.competitions.date, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.nbJoueurs, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.competitions.starter, { 'attr': {'class': 'form-control'} }) }}
        <br>
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
